.App {
  text-align: center;
  align-items: center;
}

.page-transition {
  animation: pageFade 0.5s ease-in-out;
}

@keyframes pageFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* Center the logo in the splash screen */
.SplashScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

/* Add breathing animation to the logo */
@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.App-logo {
  height: 20vmin;
  animation: breathing 2s infinite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(281, 68%, 49%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(233, 231, 235);
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
